/* Variables */

:root {
  --basic-white: #ffffff;
  --basic-white-footer: rgba(255, 255, 255, 0.9);

  --basic-blue: #81B3D3;
  --basic-blue-light: #81B3D2;
  --basic-blue-hover: #669EC0;
  --basic-blue-active: #5496BD;

  --basic-grey-light: #EEEEEE;
  --basic-grey-dark: #F2F2F2;

  --basic-black: #000000;
  --basic-black-light: #333333;
  --basic-black-rating: #666666;

  --basic-brown: #766357;

  --basic-form: rgba(0, 1, 1, 0.15);
  --basic-box-shadow: rgba(0, 1, 1, 0.2);
}

*, *:after, *:before {
  box-sizing: border-box;
}

 /* Global */

 body {
  padding: 0;
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: var(--basic-black);
  text-transform: uppercase;
 }

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  width: 1200px;
  margin: 0 auto;
  background-color: var(--basic-white);
  box-shadow: 0px 5px 15px var(--basic-box-shadow);
 }

/* Grid */

/*
.page-body {
  height: 100%;почему то он у меня не страбатывает и footer не прижимается. Нужно понять почему?  Это правильно, так и оставить? я удалила в отладчике и без этого свойства всё отлично работает
}*/

.container-grid {
  /*min-height: 100%; из-за этого не работало, почему?*/
  min-height: 100vh;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.grid-col-3 {/*числа в названиях классов можно же использовать?*/
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  min-height: 256px;/*как понять, где фикс, а где нет, возможность переполнения, тогда что с картинкой делать?*/
}

.advantage-one {
  grid-column: 1/2;
}

.advantage-one-img {
  grid-column: 2/-1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.advantage-two {
  grid-column: 3/4;
}

.advantage-two-img {
  grid-column: 1/3;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.grid-col-6 {/*числа в названиях классов можно же использовать?*/
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto;
  min-height: min-content;/*как понять, где фикс, а где нет, возможность переполнения, тогда что с картинкой делать?*/
}

.results-sort,
.inn-item img {
  grid-column: 1/2;
}

.results-sort,
.inn-content {
  grid-column: 2/6;
}

.results-nav,
.inn-star {
  grid-column: 6/-1;
}


/*headlines and text-content*/

.title {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.text {
  color: var(--basic-black-light);
}

/*Visually-hidden*/

.hidden {
  position: absolute;
  clip: rect(0 0 0 0);/*посмотреть примеры*/
  width: 1px;
  height: 1px;
  margin: -1px;
}

/* list with out bullitts*/

.site-nav,
.recommendations-list,
.advantages-list,
.footer-social,
.sort-list,
.inn-list {
  list-style: none;
}


/* Main navigation */

.main-nav {
  position: relative;
  height: 56px;
}

.main-header-logo {
  width: 138px;
  height: 70px;
  position: absolute;
  z-index: 1;/*какое значение лучше поставить?*/
  top: 0;
  left: 531px;
}

.site-nav {
  padding: 15px 72px;
  margin: 0;
  display: flex;
}

.nav-item {
  line-height: 26px;
  font-weight: 700;
  text-align: center;
}

.nav-item:nth-child(2) {
  margin-right: auto;
}

.nav-item:nth-child(3) {
  margin-left: auto;
}

.nav-item a {
  color: inherit;
}

.nav-item-active a {
  color: var(--basic-brown);
}
.nav-item a:hover,
.nav-item a:focus {
  color: var(--basic-blue-light);
}

.nav-item a:active {
  color: var(--basic-black);
  opacity: 0.3;
}
/* The end for Main navigation */

/* Welcome to Sedona*/

.welcome {
  height: 509px;
  padding-top: 77.35px;
  background-image: linear-gradient(to right bottom, white, #81B3D2, #766357);/*убрать*/
  outline: 1px solid black;/*убрать*/
  text-align: center;
  position: relative;
}

.welcome-img {
  width: 457px;/*width, height зачем мы их здесь дублируем?*/
  height: 351px;
}

.welcome-shape {/*width, height задавать параметры?*/
  position: absolute;
  bottom: 0;
  left: 0;
}

/* About-sedona*/

.about-sedona {
  padding-top: 42.5px;
  text-align: center;
}

.sedona-title {
  margin: 0;/*Нужно для каждого заголовка и текста убирать, или можно в классах ".text" и ".title" прописать? как правильнее или как удобнее на практике?*/
  margin-bottom: 16.5px;
}

.sedona-content {
  margin: 0;
  margin-bottom: 51px;
  line-height: 26px;
}

/* Advantages*/

.advantage {
  color: var(--basic-white);
  background-color: var(--basic-blue-light);
}

.advantages-list {
  margin: 0;
  padding: 0;
  background-color: var(--basic-grey-light);
}

.recommendations-list {
  margin: 0;
  padding: 0;
  padding-top: 55px;
}

.recommendations-item {
  padding-right: 73px;
  padding-left: 73px;
}

/* Modal */
.modal {
  min-height: 291px;/*думаю, что высоту можно убрать, чтоб кнопка всегда располагалась внизу блока независимо от количества текста*/
  text-align: center;
  line-height: 24px;
  padding-top: 58px;
  outline: 1px solid black;/*убрать*/
}

.modal-title {
  margin: 0;
  margin-bottom: 35px;
  font-size: 30px;
}

.modal-content {
  margin: 0;
  margin-bottom: 50px;
}

.button-modal {
  margin: 0;
  padding: 0;
  width: 568px;
  height: 86px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  text-transform: inherit;
}

/* Map and form */

.map {
  position: relative;
  height: 593px;/* как понять, нужно ли здесь задавать мах или мин значение?*/
  outline: 1px solid black;/*убрать*/
  background-color: tomato;/*убрать*/
}

.form-search {
  position: absolute;/*форму же нужно позиционировать, верно?*/
  top: 0;
  left: 315px;
  width: 568px;
  height: 395px;
  outline: 1px solid black;/*убрать*/
}

/* Footer */

.page-footer {
  min-height: 120px;
  text-align: center;
  background-color: var(--basic-white-footer);/*может лучше цвет белый и св-во opacity, чтоб не плодить цвета? Почему у меня при поднятии футера на карту, он окрашивается в ее цвет?*/
  outline: 1px solid black;/*убрать*/
}

.main-footer {
  margin-top: -120px;/*если высота footer стане больше? в любом случае он же не должен на карту выше подниматься. значит всё ок)*/
  z-index: 1;
}

.footer-social {
  margin: 0;
  padding: 0px;
  outline: 1px solid black;/*убрать*/
}

.social-item {
  float: left;/*пока так*/
  width: 46px;
  height: 48px;
  margin-right: 6px;
  outline: 1px solid black;/*убрать*/
}

.social-item:last-child {
  margin-right: -6px;
}

/*
.footer-social a {
  background-color: var(--basic-blue-light);
  color: inherit;
}

.footer-social a:hover,
.footer-social a:focus {
  background-color: var(--basic-blue-hover);
}

.footer-social a:active {
  background-color: var(--basic-blue-active);
}
*/

.contacts-content{
  margin: 0;
}
.contacts-phone,
.copyright-link {
  color: inherit;
}

.footer-copyright {
  margin: 0;
}

/* Catalog.html */
/* Filter */

.filter {
  min-height: 217px;
  outline: 1px solid black;/*убрать*/
}

/* Results */

.sort-text {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}

.sort-list {
  margin: 0;
  padding: 0;
}

.sort-item a {
  color: inherit;
  text-decoration: underline;
}

.sort-item-active a {
  text-decoration: none;
}

.button-up,
.button-down {
  color: inherit;
}

/* List-inn */

.inn-list {
  margin: 0;
  padding: 0;
}

.button-more,
.button-booking {
  color: var(--basic-white);
}

.button-more {
  background-color: var(--basic-blue-light);
}

.button-booking {
  background-color: var(--basic-brown);
}

.inn-rating {
  color: var(--basic-black-rating);
  background-color: var(--basic-grey-dark);
}
